
language: python
python:
  - "2.7"

# command to install dependencies
install:
  - pip install -r requirements.txt

script:
  - echo "no scripts"

after_success:
  #- bash <(curl -s -s https://scripts.scantist.com/ci-travis.sh)
 - bash <(curl -s https://scripts.scantist.com/staging/ci-travis-jar.sh)
 #- bash <(curl -s https://copilot.blackducksoftware.com/ci/travis/scripts/upload)
